
.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    background: #161513;
    color: #fff;
    text-align: center;

    z-index: 1;
    position: relative;
    min-height: 100vh;
}
.projects-header {
    margin-top: 50px;
    margin-bottom: clamp(20px, 4vw, 40px);
    width: 80%;
    display: flex;
    flex-direction: row;
}

.projects-title {
    font-size: clamp(20px, 3vw, 50px);
    font-weight: 600;
    width: 100%;
    text-align: left;
}

/* --- View Controls (Buttons) --- */
.view-controls {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 5px;
    z-index: 10;
    height: auto;
    padding-left: 20px;
}
.view-btn {
    padding: clamp(10px, 1.5vw, 12px);
    border: 2px solid #fff;
    background: rgba(35, 34, 32, 1);
    cursor: pointer;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    display: flex;
    height: fit-content;
    opacity: 1 !important;
}
.view-btn img {
    width: 30px;
    height: 30px;
    flex-shrink: 0; 
    object-fit: contain;
    z-index: 10;
}

.view-btn:hover,
.view-btn.active {
    background: linear-gradient(240deg, #9f8f81 27.16%, #9f8f81 100.06%);
    border-color: transparent;
}
.project-img:hover {
    transform: scale(1.1);
}
.projects-container.grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: clamp(20px, 2vw, 30px);
}

/* Column (List) Layout */
.projects-container.column {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-bottom: 50px;
}

/* --- Project Card Styling --- */

.project-card {
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.project-card:hover {
    transform: translateY(-5px);
    transform: scale(1.02);
}

/* Specific styling for Column view for a horizontal card layout */
.projects-container.column .project-card {
    width: 80%;
    flex-direction: row; 
    align-items: center;
}
.projects-container.column .project-name {
    font-size: clamp(24px, 3vw, 45px);
}
@media (max-width: 768px) {
    .projects-container.column .project-card {
        flex-direction: column;
    }
    .view-controls {
        display: none;
    }
}
.project-img-container {
    overflow: hidden;
    border-radius: 20px;
    height: clamp(200px, 18vw, 350px);
}
.projects-container.column .project-img-container {
    width: 150%;
    margin-right: 20px;
    height: clamp(300px, 25vw, 500px);
}
@media (max-width: 768px) {
    .projects-container.column .project-img-container {
        width: 100%;
        margin-right: 0;
    }
}
.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
.project-img:hover {
    transform: scale(1.05);
}
.project-info {
    width: 100%;
    padding: 20px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.project-name {
    color: #fff;
    font-size: clamp(22px, 2.5vw, 28px);
    margin-bottom: 10px;
    font-weight: 700;
}
.project-desc {
    color: gray;
    font-size: clamp(14px, 1.5vw, 16px);
    margin-bottom: 15px;
    flex-grow: 1;
}
.project-tools {
    margin-top: 10px;
    margin-bottom: 15px;
}

.tool-tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    background: #333;
    color: #9f8f81;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

/* Link */
.project-link {
    display: inline-block;
    color: #9f8f81;
    text-decoration: none;
    font-size: clamp(12px, 1.5vw, 15px);
    font-weight: 600;
    margin-top: 10px;
    transition: color 0.3s;
    border: 2px solid #9f8f81;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

.project-link:hover {
    color: #fff;
    background-color: #9f8f81;
}