.hero{
    display: flex;
    /* background: #161513; */
    background-image: linear-gradient(rgba(22, 21, 19, 0.7), rgba(45, 41, 37, 1)),url('../../assets/bg_pic.jpg');
    background-size: cover;
    background-position: center;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
.hero-content {
    width: 80%;
    min-height: 100vh;
    align-items: start;
    justify-content: center;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero h3{
    width: 80%;
    font-size: clamp(10px, 4vw, 20px);
    font-weight: 600;
    margin-bottom: -20px;
    color: darkgray;
    /* background: linear-gradient(270deg, #6a6c4e 27.16%, #9f8f81 100.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.hero h1{
    /* margin-top: 150px; */
    width: 100%;
    font-size: clamp(50px, 12vw, 100px);
    font-weight: 700;
    color: #fff;
    line-height: clamp(60px, 14vw, 120px);
    /* Set overflow hidden to prevent any text that might accidentally type 
       outside of this forced container size from interfering. */
    overflow: hidden;
}
.typing-gradient {
    font-weight: 700; 
    font-size: clamp(50px, 12vw, 100px);
    background: linear-gradient(270deg, #9f8f81 27.16%, #fff 100.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.typing-gradient + .Typewriter__cursor {
    color: #fff;
    opacity: 1;
}
.typing-text {
    font-weight: 700;
    font-size: clamp(50px, 12vw, 100px);
    background: linear-gradient(270deg, #9f8f81 27.16%, #9f8f81 100.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 100%;
    font-size: clamp(10px, 4vw, 20px);
    line-height: clamp(20px, 6vw, 35px);
    margin-bottom: 30px;
    color: gray;
}
.socials{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.socials img {
    cursor: pointer;
    transition: 0.5s;
    background: white;
    border-radius: 10px;
}
.socials .insta-icon img{
    width: 50px;
    height: 50px;
}
.socials .fb-icon img{
    padding: 5px;
    width: 50px;
    height: 50px;
}
.socials .linkedin-icon img{
    width: 50px;
    height: 50px;
}
.socials .github-icon img{
    padding: 8px;
    width: 50px;
    height: 50px;
}
.socials img:hover {
    transform: scale(1.2) rotate(360deg);
    box-shadow: 0px 0px 15px #9f8f81;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect {
    display: flex;
    padding: 15px 35px;
    border-radius: 50px;
    border: 2px solid #9f8f81;
    cursor: pointer;
    transition: 0.5s;
    font-size: clamp(10px, 3vw, 15px);
}
.hero-connect img{
    width: clamp(16px, 3vw, 20px);
    height: 20px;
    margin-right: 5px;
}
.hero-connect:hover{
    transform: scale(1.05);
    background: linear-gradient(240deg, #614d35 27.16%, #9f8f81 100.06%);
}
.resume-btn {
    text-decoration: none;
    color: #fff;
}
@media (max-width: 1074px) {
    .hero h1 {
        min-height: clamp(120px, 28vw, 240px);
    }

}