.skills-section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden; 
    color: #fff;
    padding-top: 50px; 
    padding-bottom: 50px;
}
.scroll-target-buffer {
    padding-top: 90px;
    visibility: 'hidden';
    pointer-events: 'none';
    height: 0;
}
.skills-parallax-bg {
    position: absolute; 
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100%;  
    z-index: -1;
    background-image: url('../../assets/skills_bg.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.1s ease-out;
}
.skills-content-overlay {
    position: relative;
    z-index: 10;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}
.skills-content-overlay h2 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #00bcd4; 
}
.skills-subtitle {
    font-size: 1.2em;
    margin-bottom: 40px;
    opacity: 0.8;
}
.skills-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 20px 0;
}
.category-heading {
    width: 100%;
    color: #fff; 
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    text-align: left; 
    border: 2px solid red;
}
.skill-category-group {
    display: flex;
    width: 100%;
    margin-bottom: 40px; 
    background-color: #9f8f81;
    padding: 20px;
    border-radius: 15px;
}
.skills-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0px;
    padding: 20px 0;
}
.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: left;
    gap: 5px;
}
.skill-card:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.skill-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1;
}
.skill-icon img {
    width: auto;
    height: 100px;
}
.skill-card h3 {
    color: #707070;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .skills-content-overlay {
        padding: 20px 10px;
    }
    .skills-card-container {
        grid-template-columns: 1fr;
    }
}