.skills-section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden; 
    color: #fff;
    padding-top: 50px; 
    padding-bottom: 50px;
}
.scroll-target-buffer {
    padding-top: 90px;
    visibility: 'hidden';
    pointer-events: 'none';
    height: 0;
}
.skills-parallax-bg {
    position: absolute; 
    top: -100vh;
    left: 0;
    width: 100%;
    height: 150vh;  
    z-index: -1;
    background-image: url('../../assets/skills_bg.webp');
    opacity: 0.2; /* Adjust the opacity as needed */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.1s ease-out;
}
.skills-content-overlay {
    position: relative;
    z-index: 10;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}
.skills-content-overlay h2 {
    font-size: clamp(1.7rem, 4vw, 3rem);
    margin-bottom: 10px;
    color: #fff; 
}
.skills-content-overlay p {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    margin-bottom: 10px;
    color: #fff; 
}
.skills-subtitle {
    font-size: 1.2em;
    margin-bottom: 40px;
    opacity: 0.8;
}
.skills-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 20px 0;
}
.category-heading {
    width: 100%;
    color: #fff; 
    font-size: clamp(1rem, 1.6vw, 1.8rem);
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center; 
}
.category-grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.skill-category-group {
    width: 100%;
    margin-bottom: 40px; 
    background-color: rgba(255, 255, 255, 0.3);
    padding: clamp(5px, 2vw, 20px);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    min-width: 180px;
}
.skills-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;
    padding: 0;
}
.skills-title {
    font-size: clamp(0.5rem, 1vw, 2rem);
    margin-bottom: 5px;
    color: #fff; 
}
@media (max-width: 1200px) {
    .category-grid-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 15px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .skill-category-group {
        width: 100%;
        margin-bottom: 0; 
    }
    .category-heading {
        width: 100%;
    }
}
@media (max-width: 925px) {
    .skills-parallax-bg {
        position: absolute; 
        top: -100vh;
        left: 0;
        width: 100%;
        height: 120vh;  
        z-index: -1;
        background-image: url('../../assets/skills_bg.webp');
    }
}
@media (max-width: 730px) {
    .skills-parallax-bg {
        position: absolute; 
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;  
        z-index: -1;
        background-image: url('../../assets/skills_bg.webp');
    }
    .category-grid-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 590px) {
    .skills-parallax-bg {
        height: 110vh;  
    }
}
@media (max-width: 480px) {
    .category-grid-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
    .skills-parallax-bg {
        height: 140vh;  
    }
}