.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    background: linear-gradient(0deg, #161513 0%, #2d2925 100%);
    padding-bottom: 20px;
}
.about-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(300px, 80%, 1300px);
    height: auto;
    overflow: hidden;
    padding: 80px 50px;
    gap: 50px;
}
.about_img {
    width: 45%;
    height: auto;
    object-fit: cover;
    padding-top: 10px;
    padding-right: 20px;
    background-color: #161513;
    border-radius: 15px;
    box-shadow: 1px 10px 28px rgba(97, 77, 53, 0.6);
    background-image: linear-gradient(
        180deg,
        rgba(44, 41, 37, 0.5),
        rgba(211, 190, 154, 0.4),
        rgba(211, 190, 154, 0.8),
        rgba(255,255,255, 0.9)
    );
}
.about-sections{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}
.about-title{
    position: relative;
}
.about-title h1{
    font-size: clamp(30px, 6vw, 100px);
    font-weight: 600;
}
.about-para{
    width: 100%;
}
.about-para p{
    text-align: start;
    font-size: clamp(14px, 2vw, 20px);
    line-height: clamp(5px, 5vw, 30px);
    color: gray;
    text-align: justify;
}

@media (max-width: 925px) {
    .about-wrapper{
        flex-direction: column;
        padding: 0px;
        gap: 30px;
        width: 80%;
    }
    .about_img {
        width: 100%;
        height: auto;
        padding-right: 0;
    }
    .about-sections{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about-para p{
        text-align: center;
        line-height: clamp(20px, 6vw, 30px);
    }
}