.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    background: linear-gradient(0deg, #161513 0%, #2d2925 100%);
}
.about-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: auto;
    overflow: hidden;
    padding: 80px 50px;
    gap: 50px;
}
.about_img {
    width: 45%;
    height: auto;
    object-fit: cover;
    padding-top: 10px;
    padding-right: 20px;
    background-color: #161513;
    border-radius: 15px;
    box-shadow: 1px 10px 28px rgba(155, 140, 120, 0.6);
    background-image: linear-gradient(
        180deg,
        transparent,
        transparent,
        rgba(106, 108, 78, 0.4),
        rgba(84, 85, 76, 0.9)
    );
}
.about-sections{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
}
.about-title{
    position: relative;
}
.about-title h1{
    font-size: 55px;
    font-weight: 600;
}
.about-para{
    width: 100%;
}
.about-para p{
    text-align: start;
    font-size: 20px;
    line-height: 30px;
    color: gray;
}