.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent; 
    transition: background-color 0.4s ease, backdrop-filter 0.4s ease;

    position: fixed; 
    top: 0;          
    left: 0;         
    z-index: 1000;   
}
.navbar.scrolled {
    background-color: rgba(22, 21, 19, 0.3); 
    backdrop-filter: blur(8px);
    box-shadow: 0 5px 10px rgba(15, 15, 14, 0.9); 
}
.navbar-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.nav-logo {
    width: 140px;
    height: auto;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 15px;
    color: white; 
    transition: none;
}
.nav-menu li {
    position: relative;
    cursor: pointer;
}
.nav-dropdown .dropdown-toggle {
    cursor: pointer;
}
.nav-dropdown .dropdown-menu {
    list-style: none;
    display: block; 
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(22, 21, 19, 0.9); 
    min-width: 150px;
    padding: 20px 20px;
    margin-top: 25px; /* Little space from parent */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
    /* Hide by default */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1050; /* Ensure it is above other content */
}

.nav-dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.nav-dropdown .dropdown-menu li {
    padding: 20px 35px;
    font-size: 14px;
    text-align: left;
    gap: 0; 
    width: auto;
    border-radius: 10px;
}

.nav-dropdown .dropdown-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}
.bar {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}
.nav-menu a {
    text-decoration: none;
    color: inherit; /* Inherit the white color from the li/nav-menu */
    display: block; /* Make the link fill the whole li space */
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    
}