:root {
    --gap: 25px;
    --primary-clr: #fff;
    --secondary-clr: #707070;
    --tertiary-clr: #161513;
    --no-clr: transparent;
    --accent-clr: #9f8f81;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow: hidden;

}
.cert {
    width: 80%;
    margin-bottom: 90px;
}
.cert h3 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--primary-clr);
}
.container {
    display: flex;
    width: 100%;
}
.swiper {
    padding: 30px 100px;
    width: 100%;
    padding-bottom: 60px;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 60%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    gap: var(--gap);
}
.swiper-slide {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    position: relative;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
    user-select: none;
    gap: var(--gap);
    border: 2px solid white;
}
.swiper-slide-active {
    box-shadow: 1px 10px 20px rgba(106, 108, 78, 0.9);
    transition: box-shadow 1s ease;
}

.slide-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(22, 21, 19);
    color: white;
    padding: 20px 0px 20px 20px;

}
.slide-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.slide-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
    opacity: 0;
    padding: 30px 30px 30px 20px;
    background: white;
}
.swiper-slide-active .slide-right img {
    opacity: 1;
    transform: scale(1.05);
    transition: transform 1s ease, opacity 1s ease;
}
.title{
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    opacity: 0;

}
.swiper-slide-active .title {
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease 0.8s;
}
.title h1 {
    width: 100%;
    font-size: clamp(20px, 4vw, 65px);
    font-weight: 800;
    color: var(--primary-clr);
    opacity: 1;
    transition: 0.8s ease;
    transition-delay: 1s;
}
.swiper-slide-active .title h1 {
    width: 100%;
    font-size: clamp(20px, 4vw, 65px);
    transition-delay: -200ms;
    opacity: 1;
}

/** Content */
.content {
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 30px 0px 0px;
    color: var(--primary-clr);
    opacity: 0;
    z-index: 1;
}
.swiper-slide-active .content {
    opacity: 1;
    transition: 0.2s;
    transition-delay: 0.3s;
}
.content-text-box {
    border-left: 4px solid var(--accent-clr);
    padding-left: 10px;
    margin-bottom: 20px;
    opacity: 0;
}
.swiper-slide-active .content-text-box {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 1s;
}
.content-text-box p {
    font-size: clamp(1.2rem, 1.3vw, 1.5rem);
    font-weight: 400;
    line-height: clamp(1.2rem, 2vw, 2rem);
    transform: translateY(100%);
    opacity: 0;
}
.swiper-slide-active .content-text-box p {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s ease;
    transition-delay: 0.5s;
}

/** Footer */
.footer-slide {
    padding: 0px 0px 0px 0px;
    left: var(--gap);
    width: 100%;
    display: flex;
    align-items: end;
    opacity: 1;
}
.swiper-slide-active .footer {
    opacity: 1;
}

/** Footer -> Button */
.cert-btn {
    position: relative;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 13px 30px;
    background: var(--secondary-clr);
    color: #fff;
    border: 0;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}
.label {
    font-weight: 600;
    font-size: clamp(14px, 1.2vw, 17px);
}
.swiper-slide-active .cert-btn {
    opacity: 1;
    transition: 0.5s ease;
    transition-delay: 1s;
}
.label {
    position: relative;
}
.cert-btn:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
    background-color: var(--accent-clr);
    border-radius: 50%;
}
.cert-btn:hover:before {
    width: 200px;
    height: 200px;
}
.cert-btn:hover .label {
    color: var(--primary-clr);
}

/** Pagination */
.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: var(--primary-clr);
    border-radius: 50%;
}
.swiper-pagination-bullet-active {
    width: 32px;
    border-radius: 14px;
    background-color: var(--accent-clr);
    transition: all 0.8 ease-in-out;
}

@media (max-width: 1940px) {
    .slide-left {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .slide-right {
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slide-right img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0 10px 10px 0;
        opacity: 0;
        padding: 30px 20px 30px 20px;
    }
    .swiper-slide-active .slide-right img {
        transform: scale(1);
    }
    .title h1 {
        width: 100%;
        font-size: clamp(15px, 4vw, 50px);

    }
    .swiper-slide-active .title h1 {
        width: 100%;
        font-size: clamp(15px, 3vw, 50px);
    }
}
@media (max-width: 900px) {
    main {
        height: auto;
        overflow: visible;
    }
    .cert {
        width: 80%;
        height: 100%;
        padding-top: 20px;
    }
    .cert h3 {
        font-size: clamp(30px, 6vw, 50px);
    }
    .swiper-slide {
        height: auto;
        flex-direction: column;
    }
    .slide-right, .slide-left {
        width: 100%;
        height: auto;
    }
    .slide-right {
        order: 1;
    }
    .slide-left {
        height: 350px;
        order: 2;
        justify-content: flex-start;
        padding: 20px 20px 20px 20px;
        margin-right: 0px;
    }
    .title {
        height: auto;
    }
    .content-text-box {
        margin-top: 20px;
    }
    .content-text-box p {
        font-size: clamp(0.7rem, 1.7vw, 1.4rem);
        font-weight: 400;
        line-height: clamp(1rem, 1vw, 1.5rem);
        transform: translateY(100%);
        opacity: 0;
    }
    .swiper-slide-active .content-text-box p {
        transform: translateY(0);
        opacity: 1;
        transition: 0.5s ease;
        transition-delay: 0.5s;
    }
    .footer {
        position: relative;
        padding: 0px 0px 0px 0px;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: start;
        opacity: 01;
        z-index: 3;
        
    }
}
@media (max-width: 650px) {
    .swiper {
        padding: 0px 20px 50px 20px;
    }
    .container {
        height: auto;
    }
    .title {
        height: auto;
    }
    .slide-left {
        height: clamp(250px, 3vh, 270px);
        margin: 0;
    }
    .label {
        font-size: clamp(12px, 1.5vw, 15px);
    }
}
@media (max-width: 450px) {
    .swiper {
        width: 100%;
        padding: 0px 10px 40px 10px;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: var(--primary-clr);
        border-radius: 50%;
    }
    .swiper-pagination-bullet-active {
        width: 20px;
        border-radius: 14px;
        background-color: var(--accent-clr);
        transition: all 0.8 ease-in-out;
    }
}